# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Dependency cache
package-lock.json
yarn.lock

# Runtime data
pids/
*.pid
*.seed

# Misc
.idea/
.vscode/
*.swp
